$color-screaming-green: #4FF8A6;
$color-county-green: #023C1F;
$color-apple-green: #DAF1E6;
$color-malachite: #11D477;
$color-como: #517B67;
$color-tiber: #0B333F;
$color-white-solid: #FFF;
$color-mountain-meadow: #1BAC91;
$color-emperor: #555555;
$color-concrete-solid: #F2F2F2;
$color-tundora: #444444;
$color-tundora-darker: #454545;
$color-dune: #312F2B;
$color-flamingo: #F36F36;
$color-flamingo-darker: #f36518;
$color-alabaster: #FCFCFC;

// header vars
$header-background-color: $color-tiber;
$header-text-color: $color-apple-green;

// burger menu
$burger-menu-sticks-color: $color-como;
